<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="CountryCode" value="DE"/>
		<add key="SelectedDate" value="2015-01-01"/>
		<add key="BatchSize" value="16"/>
		<add key="CsvPath" value="time_series_15min_singleindex.csv"/>
		
	</appSettings>

	<system.serviceModel>
		<client>
			<endpoint
				name="EnergyConsumptionEndpoint"
				address="net.tcp://localhost:4000/EnergyConsumptionService"
				binding="netTcpBinding"
				contract="EnergyConsumptionService.Contracts.IEnergyConsumptionService" />
		</client>
	</system.serviceModel>
</configuration>