<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<system.serviceModel>
		<services>
			<service name="EnergyConsumptionService.EnergyConsumptionServiceImpl">
				<host>
					<baseAddresses>
						<add baseAddress="net.tcp://localhost:4000/EnergyConsumptionService" />
					</baseAddresses>
				</host>

				<endpoint
					address=""
					binding="netTcpBinding"
					contract="EnergyConsumptionService.Contracts.IEnergyConsumptionService" />
			</service>
		</services>
	</system.serviceModel>
</configuration>